body{
    font-family: 'antic slab', serif;
}

.bg-echec{
    background-color: #E10600;
}

.bg-victoire{
    background-color: #0eff00;
}

h1{
    font-size: 2rem;
    font-weight: 900;
    font-family: 'Quantico', sans-serif;
}

h2{
    font-size: 1.5rem;
    text-decoration: underline;
    font-family: 'Quantico', sans-serif;
    
}
.bg{
    background-color: #9dc4b5;
}

.btn{
    background-color: #197278;
    font-family: 'Quantico', sans-serif;
    /* display: flex; */
    justify-content: center;
}

.btn:hover{
    background-color: #93a392;
}

/*----------menu nav----------*/
nav{
    background-color: #adbf97;
}

.nav-item{
    font-size: 2.5rem;
    margin: 3% 0 0 2%;
}

a:hover{
    border: 1px solid black;
}

.active{
    background-color: #93a392;
    padding: 2%;
}

/*--------------------------------------formulaire------------------------------------*/
fieldset{
    border: 2px black solid;
    padding: 2%;
    background-color: #9dc4b5;
}

label{
    font-family: 'Quantico', sans-serif;
    margin-top: 1%;
    font-weight: bold;
}

#pays, #date{
    color: #6c757d;
}

.erreur{
    color: red;
}

.rouge{
    border: 2px solid red;
}

.vert{
    border: 2px solid green;
}

/*-----------table-------------*/
thead, tbody{
    font-family: 'Quantico', sans-serif;
    background-color: #ede6a3;
    border: 2px black solid;  
}


th{
    font-family: 'Quantico', sans-serif;
    font-size: 1.5rem;
}


#total{
    font-family: 'Quantico', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    border: 2px red solid;
    background-color: #9dc4b5;
}

/* --------------------------diaporama------------------------------------ */
/*------carrousel------- */
.car-img{
 padding: 0;
}

#demarrer{
    display: flex;
    justify-content: center;
}

#carrousel{
    display: none;
}

/* -----boutons----- */
.fleche{
    position: relative;
    top: -68px;
    border-color: #ffffff;
}

/*------elements sous le carrousel------ */
#questions{
    position: relative;
    top: -50px;
}